*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #222222;
    background-color: #f0ffff;
    /* background-image: url("../src/assets/b-g.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    overflow-x: hidden;
}

body,
input,
button {
    font-family: 'Muli', sans-serif, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    outline: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
    width: 10px;
    height: 10px;
    margin: 40px auto;
    border-radius: 50%;
    background: #D23F1F;
}

#parent {
    display: flex;
}

#narrow {
    width: 90px;
    /* Just so it's visible */
}

#wide {

    width: 150px;
    /* Just so it's visible */
}